# 1. Basic Datatypes

### 1.1 Integer

Intergers are not limited and there is no signed or unsigned type

In [166]:
1, type(1)

(1, int)

In [167]:
-1, type(-1)

(-1, int)

### 1.2 Floating point

Almost all platforms map Python floats to IEEE-754 “double precision”.

In [168]:
3.14, type(3.14)

(3.14, float)

Floating point math madness: [http://0.30000000000000004.com](http://0.30000000000000004.com)

In [169]:
0.1 + 0.2

0.30000000000000004

### 1.3 Strings

In [170]:
'Hello World', type('Hello World')

('Hello World', str)

More on strings later

### 1.4 Bool

In [171]:
True, type(True)

(True, bool)

In [172]:
False, type(False)

(False, bool)

### 1.5 None

In [173]:
None, type(None)

(None, NoneType)

### 1.6 Type Conversion

Type conversion is very easy and most of the time very intuitiv

#### int to float

In [174]:
float(2)

2.0

#### float to int, no rounding

In [175]:
int(3.99)

3

#### float/int to str

In [176]:
str(3.14)

'3.14'

In [177]:
str(10)

'10'

#### str to int/float

In [178]:
float('3.14')

3.14

In [179]:
int('3')

3

float string to int will raise a ValueError

In [180]:
int('3.14')

ValueError: invalid literal for int() with base 10: '3.14'

However you can force it

In [181]:
int(float('3.14'))

3

#### bool to int/float

In [70]:
int(True), int(False)

(1, 0)

In [71]:
float(True), float(False)

(1.0, 0.0)

In [87]:
str(True), str(False)

('True', 'False')

#### str to bool

In [126]:
bool('Hello World')

True

empty strings

In [127]:
bool('')

False

All numbers different from 0 convert to True

In [121]:
bool(2), bool(1), bool(0.01), bool(0), bool(-0.001), bool(-1), bool(-2)

(True, True, True, False, True, True, True)

# 2. Variables

### 2.1 Assignement

In [191]:
pi = 3.14
pi

3.14

In [189]:
pi0 = pi1 = pi2 = 3.14
pi0, pi1, pi2

(3.14, 3.14, 3.14)

In [190]:
pos, pi, text = 1, 3.14, 'Hello World'
pos, pi, text

(1, 3.14, 'Hello World')

### 2.2 Swap variables

In [186]:
a, b = 1, -1
print(a, b)

a, b = b, a
print(a, b)

1 -1
-1 1

# 3. Operators

### 3.1 Addition '+'

In [138]:
result = 1 + 1
result

2

### 3.2 Substraction '-'

In [139]:
result = 5 - 8
result

-3

### 3.3 Multiplication '*'

Integer multiplication returns integer

In [140]:
result = -2 * 5
result

-10

### 3.4 Division '/'

Always returns float in Python 3. (In Python 2 integer division returns integer, 1 / 2 = 0).

In [141]:
result = 4 / 2
result, type(result)

(2.0, float)

### 3.5 Power '**'

In [142]:
result = 4**2
result, type(result)

(16, int)

In [143]:
result = 3.14**2
result, type(result)

(9.8596, float)

In [144]:
result = 3**2.23
result, type(result)

(11.587250556694206, float)

### 3.6 Equal '==' and unequal '!='

Returning True or False

In [162]:
3.14 == 3.14

True

In [163]:
'Hallo' == 'World'

False

In [164]:
'3.14' != 3.14

True

In [165]:
3.14 != 3.14

False

# 4. Lists

Python ist probabliy most important Data structure are list.

In [247]:
l = [1, 'Hallo', 2, 2, 'Welt', print, [1, 'test', 1.92e-19], 3.14, 10]
l

[1, 'Hallo', 2, 2, 'Welt', <function print>, [1, 'test', 1.92e-19], 3.14, 10]

### 4.1 Indexing

By index number starting at 0

In [248]:
l[1], l[4]

('Hallo', 'Welt')

negative number are possible

In [249]:
l[-2]

3.14

### 4.2 Slicing

positive

In [250]:
l[1:3]

['Hallo', 2]

negative numbers

In [251]:
l[:-3]

[1, 'Hallo', 2, 2, 'Welt', <function print>]

negative and positiv

In [252]:
l[1:-3]

['Hallo', 2, 2, 'Welt', <function print>]

steps

In [253]:
l[1:-1:2]

['Hallo', 2, <function print>, 3.14]

naming slices

In [254]:
center = slice(1, -1)
l[center]

['Hallo', 2, 2, 'Welt', <function print>, [1, 'test', 1.92e-19], 3.14]

### 4.3 Alter elements

In [255]:
l[4] = 'Nano'
l

[1, 'Hallo', 2, 2, 'Nano', <function print>, [1, 'test', 1.92e-19], 3.14, 10]

In [256]:
l[2:4] = [3, 3]
l

[1, 'Hallo', 3, 3, 'Nano', <function print>, [1, 'test', 1.92e-19], 3.14, 10]

### 4.4 Deleting elements

In [257]:
del l[5]
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14, 10]

### 4.5 Length of list

In [258]:
len(l)

8

### 4.7 Append

In [259]:
l.append('am ende')
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14, 10, 'am ende']

Extending lists

In [260]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [7, 8, 9]

Using extend function

In [261]:
l1.extend(l2)
l1

[1, 2, 3, 4, 5, 6]

Using Operators

In [262]:
l1 += l3
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 4.8 Pop

In [263]:
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14, 10, 'am ende']

In [264]:
l.pop()

'am ende'

In [265]:
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14, 10]

The del equivalent

In [266]:
last_item = l[-1] 
del l[-1]
last_item

10

### 4.9 Count

In [267]:
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14]

In [268]:
l.count(3)

2

### 4.10 Index finding

In [269]:
l

[1, 'Hallo', 3, 3, 'Nano', [1, 'test', 1.92e-19], 3.14]

In [270]:
l.index('Nano')

4

In [271]:
l.index(3)

2

### 4.11 Many more methods

In [272]:
help(l)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

# 5. Tuples

The differences between tuples and lists are, the tuples cannot be changed unlike lists.

In [273]:
t = (1, 'Hallo', 2, 2, 'Welt', print, [1, 'test', 1.92e-19], 3.14, 10)
t

(1, 'Hallo', 2, 2, 'Welt', <function print>, [1, 'test', 1.92e-19], 3.14, 10)

### 5.1 Indexing and slicing

In [274]:
t[0]

1

In [275]:
t[1:-1:2]

('Hallo', 2, <function print>, 3.14)

### 5.2 Not alterable

In [276]:
t[0] = 4

TypeError: 'tuple' object does not support item assignment

In [277]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [278]:
help(t)

Help on tuple object:

class tuple(object)
 |  tuple() -> empty tuple
 |  tuple(iterable) -> tuple initialized from iterable's items
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  count(...)
 |      T.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      T.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.

#  6. Dictonaries

Dicts are unsorted <b>(Key, Value) Pairs</b>, internal realized by hash tables. They are equivalent to maps in C++, Java or Matlabt but they take every datatype as key and item.

In [279]:
d = {'Hello': 'World', 'pi': 3.14, print: 'function', 2.718: 'euler'}
d

{'Hello': 'World', 'pi': 3.14, 2.718: 'euler', <function print>: 'function'}

### 6.1 Key access

In [280]:
d['Hello']

'World'

In [281]:
d.get('Hello')

'World'

In [282]:
d[2.718]

'euler'

In [283]:
d[print]

'function'

In [284]:
d['no_key']

KeyError: 'no_key'

In [285]:
d.get('no_key', 'key does not exist')

'key does not exist'

### 6.2 Change Value

In [286]:
d['Hello'] = 'Nano'
d['Hello']

'Nano'

### 6.3 Deleting elements

In [287]:
del d[print]
d

{'Hello': 'Nano', 'pi': 3.14, 2.718: 'euler'}

In [288]:
d.pop(2.718)

'euler'

In [289]:
d

{'Hello': 'Nano', 'pi': 3.14}

### 6.4 Change Key

Changing a key is not possible but

In [290]:
d['PI'] = d['pi']
del d['pi']
d

{'Hello': 'Nano', 'PI': 3.14}

In [291]:
d['pi'] = d.pop('PI')
d

{'Hello': 'Nano', 'pi': 3.14}

### 6.5 Adding pairs

Using assignment for single pairs

In [292]:
d['pi'] = 3.14
d

{'Hello': 'Nano', 'pi': 3.14}

For adding dictionaries

In [293]:
d2 = {'python': 'in the lab', print: 'function', 'euler': 2.178}
d.update(d2)
d

{'pi': 3.14,
 'euler': 2.178,
 'python': 'in the lab',
 'Hello': 'Nano',
 <function print>: 'function'}

### 6.6 Item views

Views are dynamic

In [294]:
vview = d.values()
lview = list(vview)
vview, lview

(dict_values([3.14, 2.178, 'in the lab', 'Nano', 'function']),
 [3.14, 2.178, 'in the lab', 'Nano', 'function'])

In [295]:
del d[print]

In [298]:
vview, lview

(dict_values([3.14, 2.178, 'in the lab', 'Nano']),
 [3.14, 2.178, 'in the lab', 'Nano', 'function'])

### 6.7 Key views

In [299]:
d.keys()

dict_keys(['pi', 'euler', 'python', 'Hello'])

### 6.8 Item views

In [300]:
d.items()

dict_items([('pi', 3.14), ('euler', 2.178), ('python', 'in the lab'), ('Hello', 'Nano')])

# 7. If statement

### 7.1 if

In [305]:
i = int(input('Enter number: '))

if i > 0:
    print('positive')

if i < 0:
    print('negative')
    
if i == 0:
    print('zero')

Enter number: 1
positive

### 7.2 elif and else

In [306]:
i = int(input('Enter number: '))

if 0 <= i and i < 10:
    print('between 0 and 10')
elif i >= 10:
    print('bigger 10')
else:
    print('negative')

Enter number: 10
bigger 10

### 7.3 If and lists, dicts

In [317]:
l = [1, 'Hello', 2, 2, 'World', print, [1, 'test', 1.92e-19], 3.14, 10]

Check if item is in list

In [318]:
if 'Hello' in l:
    print(True)
else:
    print(False)

True

Check if item is not in list

In [319]:
if 'Hällö' not in l:
    print(True)

True

'In' and 'not in' are available outside if statement

In [320]:
d = {'Hello': 'World', 'pi': 3.14, 'e': 2.718, 'h': 6.626e-34}

In [321]:
# Check keys
if 'pi' in d:
    print('pi:', True)
    
if 'e' in d.keys():
    print('e:', True)

# Check values
if 1.92e-19 not in d.values():
    print('charge:', False)

pi: True
e: True
charge: False

'In' and 'not in' are not coupled to the if statement

In [322]:
print('Hello' not in l)
print('pi' in d)

False
True

### 7.4 If and is

In [323]:
a = True

# Good style
if a:
    print('good style: is True')
    
# Bad style
if a is True:
    print('bad style is True')   
    
# Very bad style
if a == True:
    print('very bad style: is True')

good style: is True
bad style is True
very bad style: is True

# 8. Case

### 8.1 The adventures of Case

The typical text based adventure:

<i> "You are at the roof of the the University Tower. Supringsly the tower is buring, what will you do:

* 0: Take the buring stairs. 
* 1: Take the elevator.
* 2: Take the fastes way and jump.
* 3: Stay and see what happens.</i>

In [ ]:
# C++ code

switch ( i ) {
    case 0:
        cout << 'You get a smoke intoxication and die.' << endl;
    case 1:
        cout << 'The elevator stucks and you die.' << endl;
    case 2:
        cout << 'You die.' << endl;
    case 3:
        cout << 'An UFO picks you up and your adventure starts.' << ;
}

##### !!! There is no case structure in Python. However we learnt a lot today. !!!

### 8.2 If replacement

In [208]:
i = int(input('Your choice? '))

if i == 0:
    print('You get a smoke intoxication and die.')
elif i == 1:
    print('The elevator stucks and you die.')
elif i == 2:
    print('You die without pain.')
elif i == 3:
    print('An UFO picks you up and your adventure starts.')
else:
    print('You die because you are to stupid to pick a number.')

Your choice? 3
An UFO picks you up and your adventure starts.

### 8.3 Dicts are great

In [205]:
i = int(input('Your choice? '))

case = {0: 'You get a smoke intoxication and die.',
        1: 'The elevator stucks and you die.',
        2: 'You die without pain.',
        3: 'An UFO picks you up and your adventure starts.'}

print(case.get(i, 'Wrong choice, you die'))

Your choice? 1
The elevator stucks and you die.

# 7. For loops

### 7.1 Indexed Based

#### C++

In [ ]:
int data[10] = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10};

for(int i = 0; i < sizeof(data); i++)
{
    std::cout << data[i] << endl;
}

#### Java

In [ ]:
int[] data = new int[]{4, 8, 4, 2, 2, 1, 1, 5, 9};

for(int i = 0; i < data.length; i++)
{
    System.out.println(array[i]);
}

#### Python

In [210]:
data  = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

for i in range(len(data)):
    print(data[i], end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

##### !!! THERE MUST BE A BETTER WAY !!!

### 7.2 Elementwise Iteration

##### Python

Iterate over a list

In [211]:
data  = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 

for datapoint in data:
    print(datapoint, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

Iterate over a dictionary

In [212]:
d = {'Hello': 'World', 'pi': 3.14, 'e': 2.718, 'h': 6.626e-34}

Iterate over keys

In [213]:
for key in d:
    print(key, end=', ')

h, Hello, pi, e,

In [ ]:
for key in d.keys():
    print(key, end=', ')

Iterate over values

In [ ]:
for value in d.values():
    print(value, end=', ')

Iterate over items

In [214]:
for item in d.items():
    print(item, end=', ')

('h', 6.626e-34), ('Hello', 'World'), ('pi', 3.14), ('e', 2.718),

#### Java For Each

In [ ]:
for( int i: array )
{
    System.out.println(i + ', ');
}

#### C++11 Range Based iteration with auto type

In [ ]:
for ( auto &i: data):
{
    std::cout << i << ', ';
}

### 7.3 Enumerate

Some times you need the index, use enumerate

In [334]:
data = list(range(10))

for i, datapoint in enumerate(data):
    data[i] = datapoint * 2
data

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

##### !!! THERE MUST BE A BETTER WAY !!!

### 8 List comprehensions

In [335]:
data  = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [336]:
data * 2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Use list comprehensions for this

In [337]:
[datapoint**2 for datapoint in data]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Numpy arrays behave 'mathematically' but more on that later

In [338]:
import numpy as np

ary = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10] )
ary * 2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

Use filters with if statement

In [339]:
data  = [-4, -3, -2, -1, 0 , 1, 1, 2, 3, 4]

In [340]:
[datapoint**2 for datapoint in data if datapoint >= 0]

[0, 1, 1, 4, 9, 16]

Nested for list comprehensions

In [341]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

# 8 While loop

In [236]:
import random
import time

while random.random() > 0.005:
    print('.', end='')
    time.sleep(0.025)

...................................................................................................................................................................................................................................................................................................................................................................................................................................................................

### 8.2 break and continue

In [239]:
import math

print('Calculate Sqr')
print('q: QUIT')

while True:
    
    value = input('Put in number: ')
    
    # Check for 
    if value == 'q':
        print('Good bye')
        break
    
    value = float(value)
    
    if value < 0:
        print('Negative numbers are not allowed!')
        continue
    
    print('Sqr({}) = {}'.format(value, math.sqrt(value)))

Calculate Sqr
q: QUIT
Put in number: 22
Sqr(22.0) = 4.69041575982343
Put in number: -1
Negative numbers are not allowed!
Put in number: 22.2
Sqr(22.2) = 4.711687595755898
Put in number: q
Good bye

# 9 Functions

### 9.1 Definition

In [361]:
import math

def area(radius):
    return math.pi * radius**2

def circum(radius):
    return 2 * math.pi * radius

In [367]:
area(10)

314.1592653589793

In [368]:
circum(10)

62.83185307179586

### 9.2 Multiple return values

In [369]:
def circle(radius):
    area = math.pi * radius**2
    circum = 2 * math.pi * radius
    return area, circum

In [370]:
circle(10)

(314.1592653589793, 62.83185307179586)

The return value is a tuple

In [379]:
a = circle(10)
type(a)

tuple

So this is equivalent

In [385]:
def circle(radius):
    area = math.pi * radius**2
    circum = 2 * math.pi * radius
    return (area, circum)

a = circle(10)
type(a)

tuple

Some times you want to return a list or some othe other datatype

In [388]:
def circle(radius):
    area = math.pi * radius**2
    circum = 2 * math.pi * radius
    return [area, circum]

a = circle(10)
type(a)

list

### 9.3 Multiple arguments

In [389]:
def pythagoras(a, b):
    return math.sqrt(a**2 + b**2)

In [390]:
pythagoras(1, 3)

3.1622776601683795

In [398]:
pythagoras(1, b=3)

3.1622776601683795

In [399]:
pythagoras(a=1, b=3)

3.1622776601683795

In [414]:
def cuboid(a, b, c):
    volumn = a * b * c
    return volumn

In [402]:
cuboid(2, 3, 2)

12

### 9.4 Keyword arguments

In [435]:
def cuboid(a, b=1, c=1):
    return a * b * c

In [436]:
cuboid(2)

2

In [437]:
cuboid(2, 3)

6

In [438]:
cuboid(2, 3, 4)

24

You can make all arguments default but not very common

In [439]:
def cuboid(a=1, b=1, c=1):
    return a * b * c

In [440]:
cuboid()

1

### 9. 10 Keyword arguments

## 10. Get some Help

In [412]:
a = 'Hello'
b = 'World'
l = [a, b]

### 10.1 Tab Completion

Some words on TAB completion

In [ ]:
l.<TAB>

### 10.2 Greedy Completer

Nested TAB completion

In [ ]:
a.<TAB>

In [ ]:
l[0].<TAB>

In [ ]:
%config IPCompleter.greedy = True

In [ ]:
l[0].<TAB>
l[0].

### 10.3 Help

Getting help in the notebook or IPython

In [ ]:
l.append(<TAB>)

In [ ]:
l.append?

Getting help everywhere else

In [ ]:
help(l.append)